/*
==============================
    * CSS TABLE CONTENT *
==============================
    1. GOOGLE FONT
    2. VARIABLES CSS
    3. BASE
    4. REUSABLE CSS CLASSES
    5. HEADER & NAV
    6. BREAKPOINTS

==============================
    * END TABLE CONTENT *
==============================

*/


/*====================== GOOGLE FONTS ====================*/

/* @import url('') */

/*====================== VARIABLES CSS ====================*/

:root {

  /* Typografia */
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2.5rem;
  --medium-font-size: 1.5rem;
  --small-font-size: 1rem;
  --smaller-font-size: 0.8rem;

  /* Grosores */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Margenes */
  --mr-1: .5rem;
  --mr-2: 1rem;
  --mr-3: 1.5rem;
  --mr-4: 2rem;
  --mr-5: 2.5rem;

  /* Background */
  --background: linear-gradient(to left, #F11712, #0099F7);
}

/*====================== BASE ====================*/


body {
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  font-weight: var(--font-weight-normal);
  color: #333;
  background: var(--background)
}

/* SCREEN */

/* @media  ((max-width: 700px )) { */
  body {
    font-size: var(--small-font-size);
  }
  .home__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

  .poke-title {
    position: relative;
    margin-top: -10rem;
    margin-bottom: 5rem;
    width: 100%;
    object-fit: cover;
  }

  .pokeball__container {
    width: 75%;
    max-width: 350px;
    margin: 2rem 2rem 0rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .pokeball-text {
    text-align: center;
    color: #fff;
    font-size: var(--medium-font-size);
    font-weight: var(--font-weight-bold);
  }

  .pokeball {
    position: relative;
      transition: all 1s ease;
      animation: 2s movercaja infinite;
  }

  
  .pokeball-hidden {
    animation: shrink 2s forwards;
  }

  .pokeball__container-hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  @keyframes grow {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
    @keyframes shrink {
      0% {
        transform: scale(1) ;
      }
      100% {
        transform: scale(0) rotate(360deg);
      }
    }


    @keyframes movercaja {
        50%{
            transform: translateY(-.5rem);
        }
    }


  .pokeball-open__container {
    background-color: blue;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    display: none;
  }

  .pokeball-open {
    width: 75%;
  }

  .pokeball-open-visible {
    animation: grow 2s forwards;
    opacity: 1;
    visibility: visible;
  }


  .pokeballContainer-visible {
    display: flex;
  }



  .pokemon-random {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    perspective: 1000px;
  }

  
.pokeQuiz__container {
  background-color: yellow;
  width: 350px;
  height: 380px;
  background: none;
  border-radius: 1rem;
  box-shadow: 5px 2px 3px rgba(0, 0, 0, 0.432);
  transform: perspective(0px) translateZ(0px) translateX(0px);
  display: grid;
  grid-template-columns: repeat(6, minmax(20.5px, 58.3px));
  grid-template-rows: repeat(6, minmax(20.5px, 58.3px));
  position: relative;
}


.pokemon-random .pokemon-logo {
  grid-column: 2/6;
  width: 100%;
  object-fit: cover;
  align-self: center;
  /* ponme su perspectiva hacia delante*/
  z-index: 0;
  transition: 1s ease filter;
}

.pokemon-random .container__pokemon-img {
  grid-column: 2/6;
  grid-row: 3/6;
  position: relative;
  top: -2em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-img {
  width: 75%;
  object-fit: cover;
  /* ponme su perspectiva hacia delante*/
  z-index: 0;
  filter: brightness(7%);
  transition: 3s ease filter;
}

.img-filter {
  filter: brightness(100%);
}



.random-visible {
  opacity: 1;
  visibility: visible;
  animation: grow 2s forwards;
}


  .pokemon-random-visible {
    animation: grow 2s forwards;
    opacity: 1;
    visibility: visible;
  }

  
  .pokemon-interrogacion {
    grid-column: 5/7;
    grid-row: 2/4;
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -1em;
}

.pokemon-interrogacion--img {
  position: relative;
  left: 1em;
  width: 50%;
}

.pokeQuiz-input__container {
  position: absolute;
  grid-column: 1/7;
  grid-row: 5/7;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
}

.textPista {
  position: relative;
  top: .5em;
}

.spanType {
  border: 4px double;
  padding: 0 .5em;
  border-radius: 30px;
  font-size: var(--small-font-size);
}

.span-quiz {
  color: white;
  font-size: var(--small-font-size);
}


.pokeQuiz-input {
  text-align: center;
  position: relative;
  top: -10px;
  width: 180px;
  height: 30px;
}

.pokeQuiz-input::placeholder { 
  color: black;
  font-size: .7rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.pokeQuiz-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  top: 1rem;
}

.pokeQuiz-button--adivinar {
  background-color: #de2124;
  color: white;
  padding: 0.2rem .4rem;
  border-radius: 0.2rem;
  font-size: 1.4em;
  font-weight: bold;
}

.pokeQuiz-button--saltar {
  background-color: #1e90ff;
  color: white;
  font-size: 1.4em;
  padding: 0.2rem .4rem;
  border-radius: 0.2rem;
  font-weight: bold;
  transform: scale(1);
  transition:background-color .7s ease, transform .7s ease, color .7s ease;
}

/* .pokeQuiz-button--saltar:hover {
  transform: scale(1.2);
  
} */
.pokeQuiz-button--saltar:active {
  transform: scale(1.2);
  color: #1e90ff;
  background-color: white;
}



.disabled-btn {
  pointer-events: none;
  background-color: rgba(141, 141, 141, 0.685);
}

.enabled-btn {
  pointer-events: auto;
}

.pokedex__container {
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(12, 25px);
  grid-template-rows: repeat(12, 20px);
  position: relative;
  visibility: hidden;
  opacity: 0;
  z-index: 0;
}

.pokedex {
  opacity: 0;
  visibility: hidden;
  grid-column: 1/13;
  grid-row: 1/13;
  position: absolute;
  z-index: -1;
  pointer-events: none;
}

.pokedex-list {
  position: relative;
  z-index: 1;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
}

.pokedex-visible {
  animation: grow 2s forwards;
  opacity: 1;
  visibility: visible;
}



.list-item {
  position: relative;
  top: .9em;
  margin-bottom: .2rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-weight-bold);
  border: 4px outset rgba(255, 255, 255, 0.568);
  padding: .2em;
  cursor: pointer;
  pointer-events: auto;
  text-align: center;
  color: black;
  transform: scale(1);
  transition: color .5s ease, transform .5s ease;
}

.list-item:hover {
  background: white;
  transform: scale(1.1);
}

.selected {
  background-color: #ffcb05;
  font-weight: bold;
}

.Loader__container {
  grid-column: 2/6;
  grid-row: 3/6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Loader { 


}

@media (min-width: 420px) {
  .poke-title {
    position: relative;
    margin-top: -5rem;
    width: 70%;
    object-fit: cover;
  }

}

@media (min-width: 768px) {
  
  .poke-title {
    position: relative;
    margin-top: -5rem;
    width: 70%;
    object-fit: cover;
  }

}

/* } */