.home__container {
    background: #0099F7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F11712, #0099F7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F11712, #0099F7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.live__container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-gap: 1rem;
    position: relative;
    
}

.poke-title {
    grid-column: 7/15;
    grid-row: 1/4;
    width: 100%;
}

.pokeball__container {
    grid-column: 9/13;
    grid-row: 10/12;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    position: relative;
    transition: 1s ease all;
}

  .pokeball {
      position: relative;
      transition: all 1s ease;
      animation: 2s movercaja infinite;
    }
  
  .pokeball-hidden {
    animation: shrink 2s forwards;
  }

  .pokeball__container-hidden {
    opacity: 0;
    visibility: hidden;
  }

  @keyframes grow {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
    @keyframes shrink {
      0% {
        transform: scale(1) ;
      }
      100% {
        transform: scale(0) rotate(360deg);
      }
    }


    @keyframes movercaja {
        50%{
            transform: translateY(-.5rem);
        }
    }

    .pokeball__container:before {
        position: absolute;
        content: '';
        top: 200%;
        left: 12%;
        height: 10px;
        width: 75%;
        opacity: 0;
        background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.336) 0%,
        rgba(0, 0, 0, 0.432) 80%);
        transition-duration: 1s;
        border-radius: 50%;
        opacity: 0.4;
        transform: translateY(6px);
        animation: 2s moversombra infinite;
       
    }
    
    @keyframes moversombra{
        50%{
            opacity: 1;
            transform: translateY(.5rem);
        }
    }
    
  .pokeball-text {
    position: relative;
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-shadow: 0 0 0.5rem #000;
    text-align: center;
  }

  .pokeball-open__container {
    grid-column: 9/13;
    grid-row: 10/12;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
  }

  .pokeball-open{
    width: 80%;
    opacity: 0;
    visibility: hidden;
  }

  .pokeball-open-visible {
    animation: grow 2s forwards;
    opacity: 1;
    visibility: visible;
  }



